#dropdown-Features-button,
#dropdown-Company-button {
	background-color: unset;
	border: none;
	font-size: 16px;
	font-weight: 500;
	color: hsl(0, 0%, 41%);
	text-shadow: 0px 0px 1px hsl(0, 0%, 41%);
	cursor: pointer;
}

.dropdown-menu {
	padding: 10px 20px;
	box-shadow: 1px 1px 30px 1px hsl(0, 0%, 80%);
	border: 1px solid hsl(0, 0%, 98%);
}
.dropdown-item {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 0;
	&-text {
		color: hsl(0, 0%, 41%);
		font-size: 14px;
		line-height: 22px;
		font-weight: 500;
	}
	&-img {
		width: 18px;
		height: 18px;
		position: relative;
		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}
