.navigateBar {
	display: inline-block;
	position: absolute;
	width: 100%;
	height: 80px;
	top: 0px;
	&-wrapper {
		position: relative;
		padding: 10px 40px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		column-gap: 20px;
		max-width: 1440px;
	}
	&-logo {
		font-size: 46px;
		font-weight: 700;
		color: hsl(0, 0%, 8%);
		text-shadow: 0px 0px 2px hsl(0, 0%, 8%);
	}
	&-menu {
		width: 410px;
		&-wrapper {
			list-style-type: none;
			display: flex;
			justify-content: space-between;
			align-items: center;
			column-gap: 10px;
			padding: 0 20px;
		}
		&-item {
			font-size: 16px;
			font-weight: 500;
			color: hsl(0, 0%, 41%);
			text-shadow: 0px 0px 1px hsl(0, 0%, 41%);

			cursor: pointer;
		}
		&-item:hover {
			color: hsl(0, 0%, 8%);
		}
	}
	&-auth {
		display: block;
		position: absolute;
		right: 40px;
		&-login,
		&-register {
			width: 100px;
			height: 40px;
			border-radius: 15px;
			font-size: 16px;
			font-weight: 500;
			color: hsl(0, 0%, 41%);
			text-shadow: 0px 0px 1px hsl(0, 0%, 41%);
			background-color: hsl(0, 0%, 98%);
			border: unset;
			cursor: pointer;
		}
		&-login:hover,
		&-register:hover {
			color: hsl(0, 0%, 8%);
		}
		&-register {
			background-color: hsl(0, 0%, 98%);
			border: 2px solid hsl(0, 0%, 41%);
		}
	}
	&-hamburger {
		display: none;
	}
}
@media (max-width: 376px) {
	.navigateBar {
		height: 75px;
		&-wrapper {
			padding: 0px 20px;
			column-gap: 2px;
			max-width: 375px;
			justify-content: space-between;
		}
		&-logo {
			font-size: 36px;
			font-weight: 700;
			text-shadow: 0px 0px 2px hsl(0, 0%, 8%);
			color: hsl(0, 0%, 8%);
		}
		&-menu {
			width: 125px;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0 auto;
			&-wrapper {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				row-gap: 10px;
				padding: 0 20px;
			}
			&-item {
				font-size: 16px;
				font-weight: 500;
				color: hsl(0, 0%, 41%);
				text-shadow: 0px 0px 1px hsl(0, 0%, 41%);
				cursor: pointer;
			}
			&-item:hover {
				color: hsl(0, 0%, 8%);
			}
		}
		&-auth {
			display: flex;
			flex-direction: column;
			position: inherit;
			right: unset;
			justify-content: center;
			align-items: center;
			margin: 20px auto;
			row-gap: 20px;
			&-login,
			&-register {
				width: 100%;
				height: 40px;
				border-radius: 15px;
				font-size: 16px;
				font-weight: 500;
				color: hsl(0, 0%, 41%);
				text-shadow: 0px 0px 1px hsl(0, 0%, 41%);
				background-color: hsl(0, 0%, 98%);
				border: unset;
				cursor: pointer;
			}
			&-register {
				background-color: hsl(0, 0%, 98%);
				border: 2px solid hsl(0, 0%, 41%);
			}
		}
		&-hamburger {
			display: flex;
		}
	}
}
